.container{
    background-color: rgb(27, 27, 31) !important;
    min-height: 100vh;
    color: white;
}

.row{
    padding-top: 80px !important;
    justify-content: center;
}

.colOne{
    width: 100% !important;
    max-width: 900px !important;
}

.rowData{
    border-radius: 12px;
    border: transparent;
}

.rowData:hover{
    border: 1px solid rgb(227, 31, 44);
    transition: border 0.3s ease;
}

.dataColumn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.colTwo{
    min-width: 320px !important;
    max-width: 900px !important;
}

.colTwoCard{
    width: 95% !important;
    background-color: rgb(27, 27, 31) !important;
    color: white !important;
    position: sticky !important;
    top: 0px !important;
    border-radius: 12px !important;
}

.colTwoCard:hover{
    border: 1px solid rgb(227, 31, 43);
    transition: border 0.3s ease;
}

.button{
    border: none !important;
    background-color: rgb(227, 31, 43) !important;    
}

.card{
    background-color: rgb(27, 27, 31) !important;
    color: white !important;
    text-align: center;
}

@media (max-width: 1200px) {
    .colTwoCard {
        position: fixed !important;
        bottom: 0 !important;
        left: 50% !important;
        top: auto !important;
        z-index: 1050 !important;
        max-width: 900px !important;
        transform: translateX(-50%) !important;
        margin-top: 20px;
    }
    
    .container {
        padding-bottom: 200px !important;
    }
}

